<header class="site-header">
    <div class="container">
        <a href="{{ site.baseurl }}" class="poplus-logo-tab">Poplus</a>
        <a href="{{ site.baseurl }}" class="site-title"><span class="component-title">SayIt</span><span class="dot-poplus">.Poplus</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="http://sayit.mysociety.org">About</a></li>
                    <!-- <li><a href="#">Documentation</a></li> -->
                    <li><a href="https://github.com/mysociety/sayit/blob/master/LICENSE.txt">License</a></li>
                    <li><a href="https://github.com/mysociety/sayit">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
